{% extends "base.html" %}
{% block page %}page-login{% endblock %}
{% block content %}<section class="area-login">
        <div class="login">
            <div>
                <img src="/static/logo.png" alt="">
            </div>
            <form id="sign-in" data-passkey="sign-in">
                <input type="text" name="login" placeholder="Username" autocomplete="username webauthn"
                       autofocus required aria-required="true" maxlength="64">
                <input type="submit" value="Sign in with a passkey">
            </form>
            <p id="message" role="alert"></p>
            <p>New in here?<a href="/register">Create an account</a></p>
        </div>
    </section>
    <script src="/static/passkeys.js" defer></script>{% endblock %}