{% extends "base.html" %}
{% block page %}page-home{% endblock %}
{% block content %}
    <section class="logged-area">
        <div class="logout">
            <div>
                <img src="/static/logo.png" alt="">
            </div>
            <h1>Você está logado(a)!</h1>
            <h2>Seu usuário é <b>{{ user }}</b></h2>
            <form action="/selectaccount" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% for account_id in accounts %}
                    <button type="submit" name="account_id" value="{{account_id}}">{{ account_id }}</button>
                {% endfor %}
            </form>
            <form action="/logout" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </section>
{% endblock %}