/* Shared layout */
body{
        margin: 0;
        padding: 0;
        background-color: #1B1F27;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }

    header{
        position: fixed;
        top: 0; left: 0; right: 0;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        padding: 0px 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    header .logo{
        font-weight: bolder;
        font-size: 25px;
        color: #ffffff;
    }

    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header .navbar ul li{
        position: relative;
        float: left;
    }

    header .navbar ul li a{
        font-size: 18px;
        padding: 20px;
        color: #ffffff;
        display: block;
    }

    header .navbar ul li a:hover{
        background-color: #446bd5;
        color: #ffffff;

    }

    .active{
        background-color: #4041ED;
    }

    a{
        color: #446bd5;
        text-decoration: none;
        margin-left: 5px;
    }

/* index.html */
.page-login .area-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        justify-content: center;
        align-items: center;
}

.page-login .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #181920;
        border-radius: 10px;
        width: 355px;
        height: 320px;
        padding: 35px;
}

.page-login .login form {
        display: flex;
        flex-direction: column;
        width: 100%;
}

.page-login .login input {
        margin-top: 10px;
        background-color: #252A34;
        color: #CBD0F7;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 5px;
        padding-left: 15px;
}

.page-login .login img {
        width: 45px;
        height: auto;
}

.page-login .login input:focus {
        background-color: #e8f1ff;
        color: #000000;
}

.page-login form [type="submit"] {
        display: block;
        background-color: #446bd5;
        font-weight: bold;
        cursor: pointer;
}

.page-login form [type="submit"]:hover {
        background-color: #2648a7;
}

.page-login p {
        padding: 15px;
        color: #CBD0F7;
}

/* register.html */
.page-register .area-register {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        justify-content: center;
        align-items: center;
}

.page-register .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #181920;
        border-radius: 10px;
        width: 355px;
        min-height: 250px;
        padding: 35px;
}

.page-register .register form {
        display: flex;
        flex-direction: column;
        width: 100%;
}

.page-register .register input {
        margin-top: 10px;
        background-color: #252A34;
        color: #CBD0F7;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 5px;
        padding-left: 15px;
}

.page-register .register img {
        width: 45px;
        height: auto;
}

.page-register .register input:focus {
        background-color: #e8f1ff;
        color: #000000;
}

.page-register form [type="submit"] {
        display: block;
        background-color: #446bd5;
        font-weight: bold;
        cursor: pointer;
}

.page-register form [type="submit"]:hover {
        background-color: #2648a7;
}

.page-register .register p {
        color: #CBD0F7;
        text-align: center;
}

/* loggedPage.html */
.page-home .logged-area {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        justify-content: center;
        align-items: center;
}

.page-home .logout {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #181920;
        border-radius: 10px;
        width: 355px;
        height: 205px;
        padding: 35px;
}

.page-home .logout form {
        display: flex;
        flex-direction: column;
        width: 100%;
}

.page-home .logout input {
        margin-top: 10px;
        background-color: #252A34;
        color: #CBD0F7;
        border: none;
        height: 45px;
        outline: none;
        border-radius: 5px;
        padding-left: 15px;
}

.page-home .logout img {
        width: 45px;
        height: auto;
}

.page-home .logout h1 {
        font-size: 27px;
        color: #F0F0F0;
        margin-bottom: 0px;
}

.page-home .logout h2 {
        font-size: 20px;
        font-weight: normal;
        color: #F0F0F0;
}

.page-home .logout h2 b {
        color: #446BD5;
}

.page-home form [type="submit"] {
        display: block;
        background-color: #446BD5;
        font-weight: bold;
        cursor: pointer;
}

.page-home form [type="submit"]:hover {
        background-color: #2648a7;
}

/* account.html */
.page-account .account {
        padding: 100px 7% 0;
        color: #F0F0F0;
}
